body{
    background-color: royalblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    color: white;
}
header{
    text-align: center;
}
section{
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 550px;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.289);
}
div{
    padding: 8px;
}
div#result{
    text-align: center;
}
input#botao{
    margin-top: 5px;
}
footer{
    text-align: center;
}